.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

@media (max-width: 619px) {
    .form{
        background-color: white;
        border-radius: 5px;
        width: 440px;
        margin: 10px auto;
        padding: 10px;
    }
    @media (max-width:506px) {
        .form{
            background-color: white;
            border-radius: 5px;
            width: 350px;
            margin: 5px auto;
            padding: 5px;
        }
        @media (max-width:435px) {
            .form{
                background-color: white;
                border-radius: 5px;
                width: 300px;
                margin: 10px auto;
                padding: 5px;
            }
            
        }
    }
}