.InputField{
  display: flex;;
  flex-direction: column;
  width: 30%;
  height: 80px;
  justify-content: center;
  align-items: center;
  


}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputField input{
  border-radius: 0.5rem;
  margin:0.5rem ;
}